div(id="Toolbar")
  nav
    table(id="Toolbar-Table")
      tr
       td(
        *ngFor="let obj of UIRouter.objects"
        )
        button(
         id="Toolbar-Button-{{obj.Key}}"
         class="Toolbar-Button"
         uiSref="{{obj.Key}}"
         uiSrefActive="active")
          span(
           id="Toolbar-Key-{{obj.Key}}"
           class="Toolbar-Class-{{obj.Key}}") {{obj.Name}}
  main
    ui-view
